NET C						LOC = T8 | IOSTANDARD = "LVCMOS33";

NET Q(0)			   	LOC = C3 | IOSTANDARD = "LVCMOS33";
NET Q(1)			   	LOC = D3 | IOSTANDARD = "LVCMOS33";
NET Q(2)			   	LOC = E4 | IOSTANDARD = "LVCMOS33";
NET Q(3)			   	LOC = E3 | IOSTANDARD = "LVCMOS33";