NET D(0)			   	LOC = C3 | IOSTANDARD = "LVCMOS33";
NET D(1)			   	LOC = D3 | IOSTANDARD = "LVCMOS33";
NET D(2)			   	LOC = E4 | IOSTANDARD = "LVCMOS33";
NET D(3)			   	LOC = E3 | IOSTANDARD = "LVCMOS33";

NET Q(0)			   	LOC = P4 | IOSTANDARD = "LVCMOS33";
NET Q(1)			   	LOC = N5 | IOSTANDARD = "LVCMOS33";
NET Q(2)			   	LOC = P5 | IOSTANDARD = "LVCMOS33";
NET Q(3)			   	LOC = M6 | IOSTANDARD = "LVCMOS33";

NET E						LOC = L3 | IOSTANDARD = "LVCMOS33";

NET C						LOC = T8 | IOSTANDARD = "LVCMOS33";